<main role='main'>
    <div class='tour-detail'>
        <div class='entry-head'>
            <section class='section-01'>
                <div class='container-xl'>
                    <div class='row'>
                        <div class='col-md-6 col-12 left section-01-row-01'>
                            <h1 class='title'>Côn Đảo - Thiên Đường Của Biển</h1>
                            <div class='short-rating'>
                                <div class='s-rate'>
                                    <div class='s-comment'>
                                        Tuyệt vời
                                        <p>192 quan tâm</p>
                                    </div>
                                </div>
                                <div class='s-wishlist'>
                                    <i class='fas fa-heart'></i><label
                                    >126</label>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-6 col-12 right section-01-row-02'>
                            <div class='group-price'>
                                <div class='sale-price'>
                                    <p><span class='price'>8,990,000₫</span>/
                                        khách</p>
                                </div>
                                <div class='saving'>
                                </div>
                            </div>
                            <div class='group-add-cart'>
                                <a
                                    href='/tours/{{tour.slug}}/booking'
                                    class='add-to-cart'
                                    data-toggle='modal'
                                    data-target='#selectOptionTour'
                                >
                                    <i class='fal fa-shopping-cart'></i>
                                    <label>
                                        Đặt ngay
                                    </label>
                                </a>
                                <a
                                    href='#'
                                    class='add-to-group'
                                    data-bs-toggle='modal'
                                    data-bs-target='#supportModal'
                                >
                                    <label>Liên hệ tư vấn</label>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class='section-02'>
                <div class='container'>
                    <div class='row'>
                        <div class='col-lg-7 col-md-12 col-sm-12 left'>
                            <div class='image section-02-img-big'>
                                <img
                                    src='{{tour.img_1}}'
                                    class='img-fluid'
                                    alt='image'
                                />
                            </div>
                        </div>
                        <div class='col-lg-5 col-md-12 col-sm-12 right'>
                            <div class='row gy-4'>
                                <div class='col-md-12 col-sm-12 small'>
                                    <div class='row'>
                                        <div class='col-6'>
                                            <div class='image section-02-img'>
                                                <img
                                                    src='{{tour.img_2}}'
                                                    class='img-fluid'
                                                    alt='image'
                                                />
                                            </div>
                                        </div>
                                        <div class='col-6'>
                                            <div class='image section-02-img'>
                                                <img
                                                    src='{{tour.img_3}}'
                                                    class='img-fluid'
                                                    alt='image'
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class='col-md-12 col-sm-12 big section-02-img'
                                >
                                    <div class='image'>
                                        <img
                                            src='{{tour.img_4}}'
                                            class='img-fluid'
                                            alt='image'
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class='tab-panels'>
            <div class='overview active'>

                <section class='section-03 mb-5'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-5 col-12 left'>
                                <p class='s-title-03 tour-des'></p>
                                <div class='box-code d-lg-none'>
                                    <div class='d-flex flex-column'>
                                        <span>Mã tour:</span>
                                        <span
                                            class='fw-bold'
                                        >NDSGN821-007-140623VN-D</span>
                                    </div>
                                    <i class='icon icon--ticket'></i>
                                </div>
                                <div class='box-order'>
                                    <div class='time'>
                                        <p>Khởi hành
                                            <b>14/06/2023 - Giờ đi: 07:55</b></p>
                                        <p>Tập trung
                                            <b>05:55 ngày 14/06/2023</b></p>
                                        <p>Thời gian <b>3 ngày</b></p>
                                        <p>Nơi khởi hành
                                            <b>{{tour.Starting_gate}}</b></p>
                                        <p>
                                            Số chỗ còn nhận
                                            <b>3</b>
                                        </p>
                                    </div>
                                    <div class='calendar'>
                                        <div class='calendar-box'>
                                            <i class='fa-solid fa-calendar'></i>
                                            <label>Ngày khác</label>
                                        </div>
                                    </div>
                                </div>
                                <div class='box-support'>
                                    <label>Quý khách cần hỗ trợ?</label>
                                    <div class='group-contact'>
                                        <a
                                            href='https://webcall.talking.vn/frame-click-to-call/new?code=tCEZl1-MKPuA6JU-czVAScCb0pPkHmPt'
                                            target='_blank'
                                            class='phone'
                                        >
                                            <i
                                                class='fa-sharp fa-solid fa-phone'
                                            ></i>
                                            <p>Gọi miễn phí
                                                <br />qua internet</p>
                                        </a>
                                        <a
                                            href='mailto:info@vietravel.com'
                                            class='mail'
                                        >
                                            <i class='fa-solid fa-envelope'></i>

                                            <p>Gửi yêu cầu <br />hỗ trợ ngay</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-7 col-12 right'>
                                <div class='group-services'>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/thoi gian.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Thời gian</label>
                                        <p>3 ngày 2 đêm</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/phuong tien di chuyen.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Phương tiện di chuyển</label>
                                        <p>Máy bay, Xe du lGịch</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/diem tham quan.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Điểm tham quan</label>
                                        <p>Côn Đảo, Chuồng Cọp, Bảo Tàng, Đầm
                                            Trầu, Miếu Bà Phi Yến</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/am thuc.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Ẩm thực</label>
                                        <p>Buffet sáng, Theo thực đơn</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/khach san.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Khách sạn</label>
                                        <p>Khách sạn 4 sao</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/thoi gian ly tuong.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Thời gian lý tưởng</label>
                                        <p>Quanh năm</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/doi tuong thich hop.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Đối tượng thích hợp</label>
                                        <p>Cặp đôi, Gia đình nhiều thế hệ, Thanh
                                            niên</p>
                                    </div>
                                    <div class='item'>
                                        <img
                                            src='/Content/Theme/images/icons/uu dai.png'
                                            class='icon-img'
                                            alt=''
                                        />
                                        <label>Ưu đãi</label>
                                        <p>Đã bao gồm trong giá tour</p>
                                    </div>
                                </div>
                                <div class='box-map hardCode d-none'>
                                    <div class='addess'>
                                        <i
                                            class='icon icon--location-marker'
                                        ></i>
                                        <label>VinWonder, Đ. Phú Quốc, Việt Nam</label>
                                    </div>
                                    <div class='map'>
                                        <i class='icon icon--map'></i>
                                        <label>VinWonder, Đ. Phú Quốc, Việt Nam</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class='map-route'>

                <section class='section-06 mb-5'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-12 col-12 title-lich-trinh'>
                                <h2 class='mb-4'>Lịch trình</h2>
                            </div>
                        </div>
                    </div>
                </section>
                <section class='section-07 mb-5'>
                    <div class='container'>
                        <div class='row'>
                            <div class='col-md-4 col-12 left'>
                                <div class='go-tour'>
                                    <div class='day day-01'>
                                        <div class='wrapper'>
                                            <span class='date-left'>
                                                Ngày
                                            </span>
                                            <span
                                                class='date-center active'
                                            >1</span>
                                            <span class='date-right'>
                                                <span
                                                    class='date'
                                                >14/06/2023</span>
                                                <span class='location'>TP.HCM -
                                                    CÔN ĐẢO (Ăn trưa, chiều)</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class='day day-02'>
                                        <div class='wrapper'>
                                            <span class='date-left'>
                                                Ngày
                                            </span>
                                            <span
                                                class='date-center active'
                                            >2</span>
                                            <span class='date-right'>
                                                <span
                                                    class='date'
                                                >15/06/2023</span>
                                                <span class='location'>KHÁM PHÁ
                                                    CÔN ĐẢO “THIÊN ĐƯỜNG CỦA
                                                    BIỂN” (Ăn sáng, trưa, chiều)</span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class='day day-03'>
                                        <div class='wrapper'>
                                            <span class='date-left'>
                                                Ngày
                                            </span>
                                            <span
                                                class='date-center active'
                                            >3</span>
                                            <span class='date-right'>
                                                <span
                                                    class='date'
                                                >16/06/2023</span>
                                                <span class='location'>CÔN ĐẢO -
                                                    TP.HCM Số bữa (Ăn sáng,
                                                    trưa)</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class='live-video hardCode d-none'>
                                    <a href='#' class='video'>
                                        <i class='fad fa-play-circle'></i>
                                        <label>Thuyết minh chương trình tour</label>
                                    </a>
                                </div>
                            </div>
                            <div class='col-md-8 col-12 right timeline-section'>
                                <div class='content-schedule 1st-day-schedule'>
                                    {{{tour.first_day}}}
                                </div>
                                <div class='content-schedule 2nd-day-schedule'>
                                    {{{tour.second_day}}}
                                </div>
                                <div class='content-schedule 3rd-day-schedule'>
                                    {{{tour.third_day}}}
                                </div>
                                <div class='note'>
                                    <h2 style='text-align:justify'><span
                                            style='color:#e74c3c'
                                        ><strong>Lưu ý:</strong></span></h2>
                                    <ul>
                                        <li style='text-align:justify'>Việc điều
                                            chỉnh yêu cầu xét nghiệm covid và
                                            mũi tiêm có thể sẽ thay đổi theo quy
                                            định hiện hành của Cơ quan Quản lý
                                            Nhà nước có thẩm quyền. Vui lòng
                                            liên hệ nhân viên tư vấn để biết
                                            thêm chi tiết.
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class='section-08 mb-5'>
                    <div class='container-xl'>
                        <div class='row'>
                            <div
                                class='col-md-6 col-12 left travel-details-left'
                            >
                                <h2 class='mb-4'>Chi tiết tour</h2>
                                <div class='tour'>
                                    <div class='detail-tour'>
                                        <h3 class='tt'>Thông tin chuyến bay</h3>
                                        <div class='detail-tour-inner goto'>
                                            <div class='date'>
                                                <span>Ngày đi -</span>
                                                <b>14/06/2023 </b>
                                            </div>
                                            <div
                                                class='from d-flex justify-content-between align-items-center col-12'
                                            >
                                                <span
                                                    class='col-md-4 small text-center'
                                                > </span>
                                                <div class='row col-md-4'>
                                                    <img
                                                        src='https://media.travel.com.vn/ImageAirlines/logo_VietNamAir.jpg'
                                                        class='flight-logo'
                                                        alt='image'
                                                    />
                                                </div>
                                                <span
                                                    class='col-md-4 small text-center'
                                                > </span>
                                            </div>
                                            <div
                                                class='from d-flex justify-content-between align-items-center col-12'
                                            >
                                                <div class='row col-md-4'>
                                                </div>
                                            </div>
                                            <div class='time'>
                                                07:55
                                                <span>&nbsp;</span>
                                                09:05
                                            </div>
                                            <div class='p-line'>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/go.png'
                                                        alt='image'
                                                    /></span>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/p.png'
                                                        alt='image'
                                                    /></span>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/to.png'
                                                        alt='image'
                                                    /></span>
                                            </div>
                                            <div class='cb'>
                                                Ký hiệu chuyến bay
                                                <p>VN1893N</p>
                                            </div>
                                        </div>
                                        <div class='detail-tour-inner comeback'>
                                            <div class='date'>
                                                <span>Ngày về -</span>
                                                <b>16/06/2023</b>
                                            </div>
                                            <div
                                                class='from d-flex justify-content-between align-items-center col-12'
                                            >
                                                <span
                                                    class='col-md-4 small text-center'
                                                > </span>
                                                <div class='row col-md-4'>
                                                    <img
                                                        src='https://media.travel.com.vn/ImageAirlines/logo_VietNamAir.jpg'
                                                        class='flight-logo'
                                                        alt='image'
                                                    />
                                                </div>
                                                <span
                                                    class='col-md-4 small text-center'
                                                > </span>
                                            </div>
                                            <div
                                                class='from d-flex justify-content-between align-items-center col-12'
                                            >
                                                <div class='row col-md-4'>
                                                </div>
                                            </div>
                                            <div class='time'>
                                                17:45
                                                <span>&nbsp;</span>
                                                18:55
                                            </div>
                                            <div class='p-line'>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/go.png'
                                                        alt='image'
                                                    /></span>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/p.png'
                                                        alt='image'
                                                    /></span>
                                                <span><img
                                                        src='https://travel.com.vn/Content/Theme/images/to.png'
                                                        alt='image'
                                                    /></span>
                                            </div>
                                            <div class='cb'>
                                                Ký hiệu chuyến bay
                                                <p>VN1884N</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='more-info more-info-1 mt-5'>
                                        <h3 class='tt'>Thông tin tập trung</h3>
                                        <div class='block'>
                                            <span>Ngày giờ tập trung</span>
                                            <div class='info'>
                                                05:55
                                                <p>14/06/2023</p>
                                            </div>
                                        </div>
                                        <div class='block'>
                                            <span>Nơi tập trung</span>
                                            <div class='info'>
                                                Sân bay
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class='col-md-6 col-12 right travel-details-right'
                            >
                                <h2>Giá tour &amp; phụ thu phòng đơn</h2>
                                <div class='table-price'>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <th class='l1'>Loại khách</th>
                                                <th class='l2'>Giá tour</th>
                                                <th class='l3 d-none'>Land tour</th>
                                            </tr>
                                            <tr>
                                                <td>Người lớn (Từ 12 tuổi trở
                                                    lên)</td>
                                                <td class='t-price'>8,990,000 đ</td>
                                                <td class='l-price d-none'>0 đ</td>
                                            </tr>
                                            <tr>
                                                <td>Trẻ em (Từ 5 - 11 tuổi)</td>
                                                <td class='t-price'>6,742,500 đ</td>
                                                <td class='l-price d-none'>0 đ</td>
                                            </tr>
                                            <tr>
                                                <td>Trẻ nhỏ (Từ 2 - 4 tuổi)</td>
                                                <td class='t-price'>4,000,000 đ</td>
                                                <td class='l-price d-none'>0 đ</td>
                                            </tr>
                                            <tr>
                                                <td>Em bé ( Dưới 2 tuổi )</td>
                                                <td class='t-price'>400,000 đ</td>
                                                <td class='l-price d-none'>0 đ</td>
                                            </tr>
                                            <tr class='total'>
                                                <td>Phụ thu phòng đơn</td>
                                                <td class='t-price'>2,500,000 đ</td>
                                                <td
                                                    class='l-price d-none'
                                                >2,500,000 đ</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <h2 class='tt mt-3'>Thông tin hướng dẫn viên</h2>
                                <div class='table-price'>
                                    <div class='more-info more-info-2'>
                                        <div class='block'>
                                            <span>HDV dẫn đoàn</span>
                                            <div id='divThongTinHDV'>
                                                <div
                                                    class='info'
                                                    style='width:100%'
                                                >
                                                    <p>Đang cập nhật</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='block'>
                                            <span>HDV tiễn</span>
                                            <div id='divThongTinHDVTien'>
                                                <div
                                                    class='info'
                                                    style='width:100%'
                                                >
                                                    <p>Đang cập nhật</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class='note-info'>
                <div class='note-info'>
                    <section class='section-09'>
                        <div class='container'>
                            <div class='row'>
                                <h2>Những thông tin cần lưu ý</h2>
                                <div class='col-md-6 col-12 left'>
                                    <div class='faqs'>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Giá tour bao gồm</h3>
                                            <div class='panel'>
                                                - Xe tham quan (15, 25, 35, 45
                                                chỗ tùy theo số lượng khách)
                                                theo chương trình
                                                <br />
                                                - Vé máy bay khứ hồi
                                                <br />
                                                - Khách sạn theo tiêu chuẩn 2
                                                khách/phòng hoặc 3 khách/phòng
                                                <br />
                                                - Vé tham quan theo chương trình
                                                <br />
                                                - Hướng dẫn viên tiếng Việt nối
                                                tuyến
                                                <br />
                                                - Bảo hiểm du lịch với mức bồi
                                                thường cao nhất 120.000.000đ/vụ
                                                <br />
                                                - Nón Vietravel + Nước suối +
                                                Khăn lạnh
                                                <br />
                                                - Thuế VAT
                                                <br />
                                            </div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Giá tour không bao gồm</h3>
                                            <div class='panel'>
                                                - Chi phí cá nhân: ăn uống ngoài
                                                chương trình, giặt ủi, chi phí
                                                hủy đổi hành trình và nâng hạng
                                                chuyến bay, hành lý quá cước,
                                                phụ thu phòng đơn,…
                                                <br />- Chi phí tham quan ngoài
                                                chương trình.
                                                <br /></div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Giá vé trẻ em</h3>
                                            <div class='panel'>
                                                - Trẻ em dưới 5 tuổi: không thu
                                                phí dịch vụ, bố mẹ tự lo cho bé
                                                và thanh toán các chi phí phát
                                                sinh (đối với các dịch vụ tính
                                                phí theo chiều cao…). Hai người
                                                lớn chỉ được kèm 1 trẻ em dưới 4
                                                tuổi, trẻ em thứ 2 sẽ đóng phí
                                                theo qui định dành cho độ tuổi
                                                từ 4 đến dưới 12 tuổi và phụ thu
                                                phòng đơn. Vé máy bay, tàu hỏa,
                                                phương tiện vận chuyển công cộng
                                                mua vé theo qui định của các đơn
                                                vị vận chuyển.
                                                <br />- Trẻ em từ 5 - dưới 12
                                                tuổi: phải mua 75% vé tour trọn
                                                gói bao gồm phương tiện vận
                                                chuyển, ăn uống theo chương
                                                trình, vé tham quan đối với các
                                                điểm tính phí theo độ tuổi/chiều
                                                cao (lưu ý bé ngủ chung với cha
                                                mẹ). Hai người lớn chỉ được kèm
                                                1 trẻ em từ 5 - dưới 12 tuổi, em
                                                thứ hai trở lên phải mua 1 suất
                                                giường đơn.
                                                <br />- Trẻ em 12 tuổi trở lên:
                                                phải mua vé tour trọn gói như
                                                người lớn bao gồm phương tiện
                                                vận chuyển, khách sạn, ăn uống
                                                theo chương trình, vé tham quan
                                                theo qui định các điểm tham
                                                quan.
                                                <br />
                                            </div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Điều kiện thanh toán</h3>
                                            <div class='panel'>
                                                - Khi đăng ký đặt cọc 50% số
                                                tiền tour
                                                <br />- Số tiền còn lại thanh
                                                toán hết trước ngày khởi hành
                                                7-10 ngày (áp dụng tour ngày
                                                thường), trước ngày khởi hành
                                                20-25 ngày (áp dụng tour lễ tết)
                                                <br /></div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Các điều kiện khi đăng ký tour</h3>
                                            <div class='panel'>
                                                - Đối với Khách Quốc tịch Việt
                                                Nam: Khi đi tour Trẻ em từ 14
                                                tuổi trở lên và người lớn cần
                                                đem theo CMND/Passport (Hộ
                                                chiếu) bản chính còn hạn sử
                                                dụng, hình ảnh rõ (CMND có thời
                                                hạn sử dụng không quá 15 năm,
                                                tính từ ngày cấp)/ Giấy khai
                                                sinh bản chính (trẻ em dưới 14
                                                tuổi), trẻ em trên 14 tuổi bắt
                                                buộc phải có CMND hoặc Passport
                                                làm thủ tục lên máy bay.
                                                <br />
                                                - Đối với khách Nước ngoài/Việt
                                                Kiều: Khi đi tour phải mang theo
                                                đầy đủ Passport (Hộ Chiếu) bản
                                                chính còn hạn sử dụng hoặc thẻ
                                                xanh kèm theo Visa và giấy tái
                                                xuất nhập Việt Nam làm thủ tục
                                                lên máy bay.
                                                <br />
                                                - Khi đăng ký tour Quý khách vui
                                                lòng mang theo CMND/Passport bản
                                                chính hoặc cung cấp tên chính
                                                xác đầy đủ, đúng từng ký tự trên
                                                CMND/ Passport (Hộ chiếu)/Giấy
                                                khai sinh (trẻ em dưới 14 tuổi)
                                                theo thứ tự: Họ/tên lót/tên. Quý
                                                khách khi đăng ký cung cấp tên
                                                theo giấy tờ tùy thân nào, khi
                                                đi tour phải mang theo giấy tờ
                                                tùy thân đó theo qui định hãng
                                                hàng không
                                                <br />
                                                - Trong trường hợp Quý khách
                                                cung cấp tên sai, đến trễ giờ
                                                bay, vui lòng chịu phí đổi vé
                                                hoặc mua lại vé mới theo quy
                                                định của Hãng Hàng Không (nếu
                                                chuyến bay còn chỗ).
                                                <br />
                                                - Trong trường hợp Quý khách bay
                                                hãng hàng không Vietjet và
                                                Jetstar, vé không hoàn, không
                                                dời, đổi, huỷ, sai tên mất 100%
                                                theo qui định hãng hàng không.
                                                Giá vé máy bay trẻ em bằng 100%
                                                người lớn.
                                                <br />
                                                - Trong trường hợp Quý khách bay
                                                hãng hàng không Việt Nam. Vé máy
                                                bay khuyến mãi không hoàn, không
                                                đổi, hủy, sai tên mất 100% theo
                                                qui định hãng hàng không. Vé
                                                Vietnam Airlines không bay chặng
                                                đi, tự động hủy chặng về. Giá vé
                                                máy bay trẻ em bằng 90% vé người
                                                lớn.
                                                <br />
                                                - Giá vé, giờ bay có thể thay
                                                đổi theo Hãng Hàng Không
                                                (Vietnam Airlines, Vietjet,
                                                Jetstar) không thể báo trước.
                                                <br />
                                                - Do các chuyến bay phụ thuộc
                                                vào các hãng Hàng Không nên
                                                trong một số trường hợp giờ bay
                                                có thể thay đổi mà không được
                                                báo trước. Tùy vào tình hình
                                                thực tế, Chương trình và điểm
                                                tham quan có thể linh động thay
                                                đổi thứ tự các điểm phù hợp điều
                                                kiện giờ bay và thời tiết thực
                                                tế.
                                                <br />
                                                - Vietravel sẽ không chịu trách
                                                nhiệm bảo đảm các điểm tham quan
                                                trong trường hợp:
                                                <br />
                                                + Xảy ra thiên tai: bão lụt, hạn
                                                hán, động đất…
                                                <br />
                                                + Sự cố về an ninh: khủng bố,
                                                biểu tình
                                                <br />
                                                + Sự cố về hàng không: trục trặc
                                                kỹ thuật, an ninh, dời, hủy,
                                                hoãn chuyến bay.
                                                <br />
                                                - Nếu những trường hợp trên xảy
                                                ra, Vietravel sẽ xem xét để hoàn
                                                trả chi phí không tham quan cho
                                                khách trong điều kiện có thể
                                                (sau khi đã trừ lại các dịch vụ
                                                đã thực hiện….và không chịu
                                                trách nhiệm bồi thường thêm bất
                                                kỳ chi phí nào khác).
                                                <br />
                                                - Sau khi Quý khách đã làm thủ
                                                tục Hàng Không và nhận thẻ lên
                                                máy bay, đề nghị Quý khách giữ
                                                cẩn thận và lưu ý lên máy bay
                                                đúng giờ. Vietravel không chịu
                                                trách nhiệm trong trường hợp
                                                khách làm mất thẻ lên máy bay và
                                                không lên máy bay đúng theo giờ
                                                quy định của Hàng Không.
                                                <br />
                                                - Giờ nhận phòng khách sạn: sau
                                                14:00 giờ và trả phòng trước
                                                12:00 giờ
                                                <br />
                                                - Phòng khách sạn/resort có thể
                                                xảy ra trường hợp phòng không
                                                gần nhau, không cùng tầng, loại
                                                phòng một giường đôi hoặc hai
                                                giường đơn không theo yêu cầu,
                                                tùy tình hình thực tế từng khách
                                                sạn/Resort.
                                                <br />- Trường hợp quý khách
                                                tham gia tour 01 khách, bắt buộc
                                                đóng thêm tiền phụ thu phòng đơn
                                                để ở riêng 01 phòng. Trường hợp
                                                trong đoàn cũng có khách đi 01
                                                mình, cùng giới tính và có nhu
                                                cầu muốn ghép cùng phòng với quý
                                                khách thì Vietravel sẽ hoàn lại
                                                tiền phụ thu phòng đơn cho quý
                                                khách.
                                                <br />
                                                - Trường hợp quý khách đi nhóm
                                                03 khách, Vietravel sẽ cung cấp
                                                01 phòng dành cho 03 khách là 01
                                                giường lớn 1m6 và 01 giường phụ
                                                di động từ 0.8 - 1,2m (extrabed)
                                                hoặc 01 nệm đơn tùy từng khách
                                                sạn/Resort. Trong trường quý
                                                khách có nhu cầu ở riêng, vui
                                                lòng đóng thêm tiền phụ thu
                                                phòng đơn theo qui định
                                                <br />
                                                - Thông tin hành lý khi đi tour
                                                : Xách tay dưới 7kg/1khách -
                                                Kích thước không quá: 56cm x
                                                36cm x 23 cm, chất lỏng với thể
                                                tích không quá 100ml. Ký gửi:
                                                20kg/1khách - Kích thước không
                                                quá: 119cm x 119cm x 81cm. Các
                                                vật phẩm không được chấp nhận
                                                dưới dạng hành lý ký gởi hoặc
                                                vận chuyển trong hành lý theo
                                                qui định hàng không
                                                <br />- Thông tin tập trung :
                                                Tại sân bay Tân Sơn Nhất, Ga đi
                                                trong nước, trước giờ bay 2
                                                tiếng (áp dụng ngày thường),
                                                trước 2 tiếng 30 phút (áp dụng
                                                lễ tết), tại cột số 4 Trong
                                                trường hợp bay hãng hàng không
                                                Vietjet, tại cột 10 trong trường
                                                hợp bay hãng hàng không Vietnam,
                                                Jetstar.
                                                <br />- Quý khách dưới 18 tuổi
                                                khi đi tour phải có Bố Mẹ hoặc
                                                người thân trên 18 tuổi đi cùng.
                                                Trường hợp đi một mình phải được
                                                Bố Mẹ ủy quyền (có xác nhận của
                                                chính quyền địa phương) cho
                                                Vietravel
                                                <br />- Khách nữ từ 55 tuổi trở
                                                lên và khách nam từ 60 trở lên:
                                                nên có người thân dưới 55 tuổi
                                                (đầy đủ sức khỏe) đi cùng. Riêng
                                                khách từ 70 tuổi trở lên: Bắt
                                                buộc phải có người thân dưới 55
                                                tuổi (đầy đủ sức khỏe) đi cùng
                                                và nộp kèm giấy khám sức khỏe.
                                                Vì lý do an toàn Quý khách hạn
                                                chế và không nhận khách từ 80
                                                tuổi trở lên. Khách trên 80 tuổi
                                                không có chế độ bảo hiểm.
                                                <br />- Quý khách đang mang thai
                                                vui lòng báo cho nhân viên bán
                                                tour ngay tại thời điểm đăng ký.
                                                Lưu ý phải có ý kiến của bác sĩ
                                                trước khi đi tour. Cam kết tự
                                                chịu trách nhiệm về sức khỏe của
                                                mình và thai nhi trong suốt thời
                                                gian tham gia chương trình du
                                                lịch.
                                                <br />- Quý khách có nhu cầu cần
                                                xuất hóa đơn vui lòng cung cấp
                                                thông tin xuất hóa đơn cho nhân
                                                viên bán tour khi ngay khi đăng
                                                ký, không nhận xuất hóa đơn sau
                                                khi tour đã kết thúc.
                                                <br />- Quý khách vui lòng tham
                                                khảo kỹ các Điều Kiện Bán Vé
                                                trước khi đăng ký chuyến du
                                                lịch. Trong trường hợp không
                                                trực tiếp đăng ký, nhờ người
                                                thân đăng ký hộ vui lòng cập
                                                nhật thông tin từ người đăng ký.
                                            </div>
                                        </article>
                                    </div>
                                </div>
                                <div class='col-md-6 col-12 right'>
                                    <div class='faqs'>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Lưu ý khi chuyển/hủy tour</h3>
                                            <div class='panel'>
                                                Sau khi đóng tiền, nếu Quý khách
                                                muốn chuyển/huỷ tour xin vui
                                                lòng mang Vé Du Lịch đến văn
                                                phòng đăng ký tour để làm thủ
                                                tục chuyển/huỷ tour và chịu mất
                                                phí theo quy định của Vietravel.
                                                Không giải quyết các trường hợp
                                                liên hệ chuyển/huỷ tour qua điện
                                                thoại.
                                            </div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Các điều kiện hủy tour đối với
                                                ngày thường</h3>
                                            <div class='panel'>
                                                - Được chuyển sang các tuyến du
                                                lịch khác trước ngày khởi hành
                                                20 ngày : Không mất chi phí.
                                                <br />- Nếu hủy hoặc chuyển sang
                                                các chuyến du lịch khác ngay sau
                                                khi đăng ký đến 19 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 50% tiền cọc tour.
                                                <br />- Nếu hủy hoặc chuyển sang
                                                các chuyến du lịch khác từ 12-14
                                                ngày trước ngày khởi hành : Chi
                                                phí hủy tour : 100% tiền cọc
                                                tour.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 08-11 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 50% trên giá tour du
                                                lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 05-07 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 70% trên giá tour du
                                                lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 02-04 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 90% trên giá vé du lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng 1 ngày trước ngày
                                                khởi hành : Chi phí hủy tour :
                                                100% trên giá vé du lịch.
                                                <br /></div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>
                                                Các điều kiện hủy tour đối với
                                                ngày lễ, Tết
                                            </h3>
                                            <div class='panel'>
                                                <p>
                                                    Áp dụng cho các tour có thời
                                                    gian diễn ra rơi vào một
                                                    trong các ngày Lễ, Tết theo
                                                    qui định
                                                </p>
                                                - Được chuyển sang các tuyến du
                                                lịch khác trước ngày khởi hành
                                                30 ngày : Không mất chi phí.
                                                <br />- Nếu hủy hoặc chuyển sang
                                                các chuyến du lịch khác ngay sau
                                                khi đăng ký đến 29 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 50% tiền cọc tour.
                                                <br />- Nếu hủy hoặc chuyển sang
                                                các chuyến du lịch khác từ 20-24
                                                ngày trước ngày khởi hành : Chi
                                                phí hủy tour : 100% tiền cọc
                                                tour.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 17-19 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 50% trên giá tour du
                                                lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 08-16 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 70% trên giá tour du
                                                lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng từ 02-07 ngày trước
                                                ngày khởi hành : Chi phí hủy
                                                tour : 90% trên giá vé du lịch.
                                                <br />- Nếu hủy chuyến du lịch
                                                trong vòng 1 ngày trước ngày
                                                khởi hành : Chi phí hủy tour :
                                                100% trên giá vé du lịch.
                                                <br />*Thời gian hủy chuyến du
                                                lịch được tính cho ngày làm
                                                việc, không tính thứ 7, Chủ Nhật
                                                và các ngày Lễ, Tết.
                                                <br /></div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Trường hợp bất khả kháng</h3>
                                            <div class='panel'>
                                                Nếu chương trình du lịch bị hủy
                                                bỏ hoặc thay đổi bởi một trong
                                                hai bên vì lý do bất khả kháng
                                                (hỏa hoạn, thời tiết, tai nạn,
                                                thiên tai, chiến tranh, dịch
                                                bệnh, hoãn, dời, và hủy chuyến
                                                hoặc thay đổi khác của các
                                                phương tiện vận chuyển công cộng
                                                hoặc các sự việc bất khả kháng
                                                khác theo quy định pháp luật…),
                                                thì hai bên sẽ không chịu bất kỳ
                                                nghĩa vụ bồi hoàn các tổn thất
                                                đã xảy ra và không chịu bất kỳ
                                                trách nhiệm pháp lý nào. Tuy
                                                nhiên mỗi bên có trách nhiệm cố
                                                gắng tối đa để giúp đỡ bên bị
                                                thiệt hại nhằm giảm thiểu các
                                                tổn thất gây ra vì lý do bất khả
                                                kháng.
                                            </div>
                                        </article>
                                        <article>
                                            <i
                                                class='open fa-solid fa-angle-down'
                                            ></i>
                                            <h3>Liên hệ</h3>
                                            <div class='panel'>

                                                <title></title>

                                                <p
                                                    style='text-align:center'
                                                ><strong>Mọi chi tiết vui lòng
                                                        liên hệ :<br />
                                                        KHỐI KHÁCH LẺ - DU LỊCH
                                                        TRONG NƯỚC<br />
                                                        190 PASTEUR, PHƯỜNG VÕ
                                                        THỊ SÁU, QUẬN 3, TP.HCM<br
                                                        />
                                                        Điện thoại : (84-28)
                                                        3822 8898 (ext : 1236,
                                                        1359, 1173)<br />
                                                        Hotline: 0938 301 399<br
                                                        />
                                                        Tổng đài tư vấn từ 8h -
                                                        18h: &nbsp;1900 1839</strong></p>
                                                <p style='text-align:center'><br
                                                    />
                                                    <strong>VIETRAVEL KÍNH CHÚC
                                                        QUÝ KHÁCH MỘT CHUYẾN DU
                                                        LỊCH VUI VẺ</strong><br
                                                    />
                                                    &nbsp;</p>

                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>
            <div class='customer-comments'>

            </div>
        </div>
    </div>

    <div class='mb-total d-none'>
        <div class='total'>
            <i class='icon icon--chevron-up'></i>

        </div>
        <div class='group-btn'>

            <div class='summary'>
                <div class='group-price'>
                    <span class='price'> 8,990,000₫</span>
                </div>
                <span class='rating'><i class='icon icon--star'></i> 9.3</span>
            </div>
            <a
                type='button'
                href='/Booking/TourBooking?tourId=65e4034f-a4ca-414e-a7c0-8a573170deb3'
                class='btn-order'
            >Tiếp tục</a>
        </div>
    </div>
    <div class='bottom-fixed'>
        <div class='top-bar d-none d-lg-block'>
            <i class='icon icon--chevron-up'></i>
        </div>

    </div>
</main>